@model DataKeyParts.DemoSetupOptions
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to example authorization app, version 2</h1>    
</div>
<p>
    This is a demo of a web application using my approach to feature and data authorization in an ASP.NET Core web application.
    It is demo of a Multi-tenant service for retail outlets which holds the stock and sales for each shop.
    It also allows managers to see what is happening in every shop that they are managing.
</p>
<p>This list of articles below describe how it works.</p>
<ul>
    <li><a href="https://www.thereformedprogrammer.net/a-better-way-to-handle-asp-net-core-authorization-six-months-on/">Part 3: A better way to handle authorization – six months on</a></li>
    <li><a href="https://www.thereformedprogrammer.net/part-4-building-a-robust-and-secure-data-authorization-with-ef-core/">Part 4: Building robust and secure data authorization with EF Core</a></li>
    <li><a href="https://www.thereformedprogrammer.net/part-5-a-better-way-to-handle-authorization-refreshing-users-claims/">Part 5: A better way to handle authorization – refreshing users claims</a></li>
    <li><a href="https://www.thereformedprogrammer.net/adding-user-impersonation-to-an-asp-net-core-web-application/">Part 6: Adding user impersonation to an ASP.NET Core web applications</a></li>
</ul>

<div>
    <h5>The setup from the appsetting.json DemoSetup section is:</h5>
    <ul>
        <li><strong>@nameof(DataKeyParts.DemoSetupOptions.DatabaseSetup)</strong>: @Model.DatabaseSetup</li>
        <li><strong>@nameof(DataKeyParts.DemoSetupOptions.CreateAndSeed)</strong>: @Model.CreateAndSeed</li>
        <li><strong>@nameof(DataKeyParts.DemoSetupOptions.AuthCookieVersion)</strong>: @Model.AuthCookieVersion</li>
    </ul>
</div>

<h2>How to use use this application</h2>
<p>
    <ol>
        <li>
            Log in using one of the demo users <a asp-area="" asp-controller="Users" asp-action="Users">found here</a>.
            <ul>
                <li>Pick a user that has a <strong>SaleManager</strong> (good choice!) or SalesAssistant role if you want to sell something. </li>
                <li>Pick a user that has a AreaManger if you want to see data for all shops. </li>
            </ul>
        </li>
        <li>
            Once you have logged in then a menu should have a "Shop" dropdown - pick one of the following.
            <ul>
                <li><strong>Till</strong> to sell something (not present if AreaManager).</li>
                <li><strong>Stock</strong> to see what stock the shop has.</li>
                <li><strong>Sales</strong> to see what sales the shop has done (not present if SalesAssistant).</li>
            </ul>
        </li>
        <li>When log in you can see your claims, permissions and other user/role ifo via the "Users" menu button.</li>
        <li>Also look at <a asp-area="" asp-controller="Company" asp-action="Index">Company</a> for a list of the hierarchical data.</li>
        <li>To test refresh of users permissions go to <a asp-area="" asp-controller="Cache" asp-action="Index">Toggle Role</a> to see this in action. <i>NOTE: UpdateCookieOnChange must be set to true in appsettings.json</i></li>
        <li>To test user impersonation feature log in as the SuperAdmin user go to <a asp-area="" asp-controller="Impersonate" asp-action="Index">Impersonation->Pick User</a> to see this in action. <i>NOTE: UpdateCookieOnChange must be set to true in appsettings.json</i></li>
    </ol>
</p>
