@model List<ServiceLayer.UserServices.ListUsersDto>
@{
    ViewData["Title"] = "Users";
}

<table class="table">
    <tr>
        <th>User Email</th>
        <th>User roles</th>
        <th>Company</th>
        <th>Linked tenant</th>
        <th></th>
    </tr>
    @foreach (var user in @Model)
    {
    <tr>
        <td>@user.Email</td>
        <td>@user.RoleNames</td>
        <td>@user.CompanyName</td>
        <td>@user.LinkedTenantName</td>
        <td>
            <form asp-action="Start" method="post">
                <!-- Input and Submit elements -->
                <input name="UserId" type="hidden" value="@user.UserId" />
                <input name="Email" type="hidden" value="@user.Email" />

                <button type="submit">Impersonate</button>
            </form>
        </td>
    </tr>
    }
</table>
